<<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>    
</head>
<body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
        <div class="jumbotron">
            <h1>게시판</h1>
            <p>이건 게시판입니다. </p>
        </div>
    </div>
</body>
</html>
<html>

</html>