<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="listAll" resultType="com.kjh.hojak.vo.BoardVO">
		SELECT
			bno,
			title,
			content,
			writer,
			regdate,
			viewcnt
		FROM
			tbl_board
		ORDER BY
			bno desc,
			regdate desc
	</select>
	
	<insert id="insert">
		INSERT INTO tbl_board (
			bno,
			title,
			content,
			writer
		) VALUES (
			(SELECT NVL(MAX(bno) + 1, 1) FROM tbl_board),
			#{title},
			#{content},
			#{wrter}
		)
	</insert>
	
	<select id="view" resultType="com.kjh.hojak.vo.BoardVO">
        SELECT * FROM tbl_board 
        WHERE bno = #{bno}
    </select>
    
    <!-- 04. 게시글 조회수 증가처리 -->
    <update id="increaseViewcnt">
        UPDATE tbl_board SET viewcnt = viewcnt + 1 
        WHERE bno = #{bno}
    </update>
	
	<update id="updateArticle" >
		UPDATE tbl_board SET
			title = #{title},
			content = #{content},
			writer = #{writer}
		WHERE bno = #{bno}
	</update>
	
	<delete id="deleteArticle">
		DELETE FROM tbl_board
		WHERE bno = #{bno}
	</delete>
</mapper>

