<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>
    <div class="conatainer home home-about">
        <h1>About</h1>
        <p>이건 게시판이에요.</p>
    </div>
</body>
</html>